.wrapper__certificate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2.55em;
}

.title__certificate {
    font-size: 7.5em;
    background: black;
    border-radius: 65%;
    border: inset;
    border-color: #ffa646;
    border-width: 2px;
    box-shadow: 10px 10px 10px 10px black;
    margin-bottom: 2em;
}

.logo__certificate {
    width: 10em;
    background: #ffa646;
    border-radius: 5%;
    padding: .5em;
    box-shadow: 5px 5px 5px 5px black;
}

.logo__certificate:hover {
    box-shadow: 5px 5px 5px 5px goldenrod;
}

.certificate {
    width: 15em;
    z-index: 3;
    box-shadow: 5px 5px 5px 5px black;
}

.certificate:hover {
    transform: scale(2);
}

.text__certificate {  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: black;
    border-radius: 55%;
    border: inset;
    border-color: goldenrod;
    border-width: 2.5px;
    box-shadow: 5px 5px 5px 5px black;
    font-size: 1.5em;
    width: 25em;
    padding: 2em;
    margin-top: 8em;
}