.wrapper__certificate {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

.title__certificate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2%;
    width: 25vw;
    font-size: 5vw;
    background: black;
    border-radius: 65%;
    border: inset;
    border-color: #ffa646;
    border-width: .2vw;
    box-shadow: .35vw .35vw .35vw .35vw black;
    margin-bottom: 15%;
}

.logo__certificate {
    margin: 1%;
    width: 10vw;
    background: #ffa646;
    border-radius: 5%;
    box-shadow: .35vw .35vw .35vw .35vw black;
    padding: .5vw;
}

.logo__certificate:hover {
    box-shadow: .45vw .45vw .45vw .45vw goldenrod;
    transition: .75s ease-in;
}

.certificate {
    margin: 1.5%;
    width: 20vw;
    z-index: 3;
    box-shadow: .35vw .35vw .35vw .35vw black;
}

.certificate:hover {
    transform: scale(2);
    transition: all 1s ease-in-out;
}

.text__certificate {  
    width: 25vw;
    background: black;
    border-radius: 25%;
    border: inset;
    border-color: goldenrod;
    box-shadow: .35vw .35vw .35vw .35vw black;
    font-size: 1.5vw;
    margin-top: 15%;
}