@keyframes moveAcross {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
}

.wrapper__skills {
    background-color: black;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    justify-content: space-around;
    align-items: start;
    padding-top: 1%;
    padding-bottom: 8.5%;
    opacity: 85%;
}

.soft__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 50%;
    position: absolute;
    animation: moveAcross 60s linear -20s infinite reverse;
}

.languages__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 35%;
    position: absolute;
    animation: moveAcross 60s linear -40s infinite reverse;
}

.technologies__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 50%;
    position: absolute;
    animation: moveAcross 60s linear 0s infinite reverse;
}

.title__skills {
    font-size: 2.5vw;
}

.text__skills {
    font-size: 1.25vw;
}