@font-face {
    font-family: 'Allison';
    src: url('../../assets/Fonts/Allison.ttf');
}

.about__wrapper {
    display: grid;
    grid-template-columns: 40vw 25vw;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    background: black;
    opacity: 85%;
    padding-bottom: 2.5%;
    width: 100%;
}

.about__description {
    font-size: 1.25vw;
    border: inset;
    border-color: #ffa646;
    border-width: .1vw;
    padding: 2.5%;
    box-shadow: .5vw .5vw .5vw .5vw goldenrod;
    width: 140%;
}

.about__title {
    font-size: 4.25vw;
}

.about__qa {
    font-size: 1.1vw;
    margin: .5vw;
    position: relative;
    left: 4.5vw;
    top: 8vw;
    border-radius: 25%;
    box-shadow: .25vw .25vw .25vw .25vw goldenrod;
    width: 90%;
    padding: 2vw;
}

.about__header {
    font-size: 1.75vw;
}

.about__text {
    margin: .5%;
}

.about__focus {
    margin: 0%;
    padding: 0%S;
}

.title__focus {
    font-family: 'Allison';
    font-size: 3.5vw;
}

.description__focus {
    font-size: 2vw;
    font-family: 'Allison';
}

.set1__focus {
    position: relative;
    right: 5vw;   
}

.set2__focus {
    position: relative;
    left: 12.5vw;  
}