.about__wrapper {
    display: grid;
    grid-template-columns: 45em 25em;
    justify-content: space-evenly;
    align-items: center;
    background: black;
}

.about__description {
    font-size: 1.5em;
    border: inset;
    border-color: #ffa646;
    border-width: .1em;
    padding: 1em;
}

.about__description:hover {
    box-shadow: 10px 10px 10px 10px goldenrod;
}

.about__title {
    font-size: 4em;
}

.about__qa {
    font-size: 1.25em;
    margin: 2em;
    border-radius: 25%;
}

.about__qa:hover {
    box-shadow: 10px 10px 10px 10px goldenrod;
}

.about__header {
    margin: .25em;
    font-size: 1.5em;
}

.about__text {
    margin-left: 2em;
}