.about__wrapper {
    display: grid;
    grid-template-columns: 45em 25em;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    background: black;
    opacity: 85%;
    padding-bottom: 8.5em;
}

.about__description {
    font-size: 1.5em;
    border: inset;
    border-color: #ffa646;
    border-width: .1em;
    padding: 1em;
    box-shadow: 5px 5px 5px 5px goldenrod;
    width: 40em;
}

.about__title {
    font-size: 4em;
}

.about__qa {
    font-size: 1.25em;
    margin: 2em;
    position: relative;
    left: 4.5em;
    top: 5em;
    border-radius: 25%;
    box-shadow: 5px 5px 5px 5px goldenrod;
}

.about__header {
    margin: .25em;
    font-size: 1.5em;
}

.about__text {
    margin-left: 2em;
}