.container__navBar {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: black;
    border-bottom: inset;
    border-color: #ffa646;
    border-width: 1%;
    z-index: 4;
}

.header__navBar {
    font-size: 5vw;
}

.header__navBar:hover {
    text-decoration: none;
    color: goldenrod;
    transition: 1s ease-in-out;
    transform: scale(1.15);
    text-shadow: .35vw .35vw 2.5vw #ffa646, .35vw .35vw 2.5vw goldenrod;
}

.links__navBar {
    font-size: 1.5vw;
}

.links__navBar:hover {
    transition: all 1s ease-in-out;
    transform: scale(2);
    text-shadow: .35vw .35vw 2.5vw #ffa646, .35vw .35vw 2.5vw goldenrod;
}