.container__navBar {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: black;
    border-bottom: inset;
    border-color: #ffa646;
    border-width: 1px;
    z-index: 4;
}

.header__navBar {
    font-size: 5em;
}

.header__navBar:hover {
    text-decoration: none;
    color: goldenrod;
    transition: all 1s ease-in-out;
    transform: scale(1.15);
    text-shadow: 1px 1px 5px #ffa646, 1px 1px 5px goldenrod;
}

.links__navBar:hover {
    transition: all 1s ease-in-out;
    transform: scale(2);
    text-shadow: 1px 1px 5px #ffa646, 1px 1px 5px goldenrod; 
}