.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: black;
    padding: 1vw 1%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon__footer {
    width: 7.5vw;
}

.icon__footer:hover {
    transform: scale(75%);
    transition: .75s ease-in;
}

.logo__footer {
    width: 3vw;
    background: #ffa646;
    border-radius: 25%;
}

.logo__footer:hover {
    transform: scale(1.75);
    transition: .75s ease-in;
}

.logo__location {
    width: 4vw;
    background: #ffa646;
    border-radius: 25%;
}

.logo__location:hover {
    transform: scale(1.5);
    transition: .75s ease-in; 
}

.text__contact {
    font-size: 1vw;
}

.text__location {
    font-size: 2vw;
}

.email__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;  
}

.location__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;  
}

.phone__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;   
}