.title_section__work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center; 
    padding: 2em;
    margin-top: 10px;
}

.wrapper__work {
    display: grid;
    grid-template-columns: 25em 25em 25em;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin-bottom: 15px;
}


.title__work {
    font-size: 7.5em;
    background: black;
    border-radius: 75%;
    border: inset;
    border-color: #ffa646;
    border-width: .01em;
    box-shadow: 10px 10px 10px 10px black;
    margin-bottom: 30px;
}

.title_text__work {
    font-size: 2em;
    background: black;
    border-radius: 10%;
    border: inset;
    border-color: #ffa646;
    border-width: .01em;
    box-shadow: 5px 5px 5px 5px black;
    margin-bottom: 25px;
    transform: scale(1.25);
}

.title_text__work:hover {
    box-shadow: 5px 5px 5px 5px goldenrod;
    transition: .75s ease-in;
}


.image__work {
    width: 500px;
}

.card__work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border: inset;
    margin: 1em;
    border-color: #ffa646;
    border-width: .35em;
    background: black;
    opacity: 85%;
    box-shadow: 10px 10px 10px 10px black;
}

.card__work:hover {
    transform: scale(90%);
    transition: all .25s ease-in-out;
    box-shadow: 5px 5px 5px 5px goldenrod;
}

.header__work {
    font-size: 2em;
    padding-top: 1em;
}

.text__work {
    font-size: 1.25em;
}