.container__work {
    margin-bottom: 15vh;
    margin-top: 2vh;
}

.title_section__work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center; 
    padding: 2%;
    margin: 1%;
}

.wrapper__work {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}


.title__work {
    font-size: 7.5vw;
    background: black;
    border-radius: 75%;
    border: inset;
    border-color: #ffa646;
    border-width: .01vw;
    box-shadow: .5vw .5vw .5vw .5vw black;
    margin: 3%;
}

.title_text__work {
    font-size: 2vw;
    background: black;
    border-radius: 10%;
    border: inset;
    border-color: #ffa646;
    border-width: .01vw;
    box-shadow: .5vw .5vw .5vw .5vw black;
    transform: scale(1.25);
}

.title_text__work:hover {
    box-shadow: .35vw .35vw .35vw .35vw goldenrod;
    transition: .75s ease-in;
}


.image__work {
    width: 95%;
}

.card__work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border: inset;
    margin: 3%;
    border-color: #ffa646;
    border-width: .35vw;
    background: black;
    opacity: 85%;
    box-shadow: .5vw .5vw .5vw .5vw black;
}

.card__work:hover {
    transform: scale(90%);
    transition: all .25s ease-in-out;
    box-shadow: .35vw .35vw .35vw .35vw goldenrod;
}

.header__work {
    font-size: 2vw;
    padding-top: 1vw;
}

.text__work {
    font-size: 1.25vw;
}