.container__information {
    margin-top: 5%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.headshot {
    border-radius: 40%;
    width: 12.5vw;
    border: inset;
    border-width: .2vw;
    border-color: #ffa646;
    margin: .5vw;
    margin-top: 1.75vw;
    box-shadow: .25vw .25vw .25vw .25vw black;
    z-index: 2;
}

.headshot:hover {
    transform: scale(1.25);
    transition: .5s ease-in-out;
}

.flourish {
    width: 40vw;
    print-color-adjust: goldenrod;
    box-shadow: .25vw .25vw .25vw .25vw black;
    border-radius: 15%;
    width: 40vw;
}

.flourish:hover {
    transform: scale(95%);
    transition: .5s ease-in-out;
}